<h1>Restaurants</h1>


<ul>
	<% @restaurants.each do |restaurant| %>
    <li>
      <%= image_tag restaurant.image.thumbnail.url if restaurant.image? %>
      <%= link_to restaurant.name, restaurant %></td>
    </li>
  	<% end %>
</ul>

	<%= link_to "New", new_restaurant_path %>