<%= render "top" %>
	
<%= render "right" %>

<div class="frame">	
	<% @restaurants.each do |restaurant| %>
		<%= link_to image_tag(restaurant.image.thumbnail.url, class: "smaller"),restaurant_path(restaurant) %> 
  		<button class="btn btn-info"><small>Poke me</small></button>
  		<span id="dropbox" style="font-style:italic">Today's Promo:</span>	
  	<% end %>
</div>

<div>	
	<h2 style="margin: 20px"><%= link_to "New Restaurant", new_restaurant_path %><h2>
</div>
