<h1>Restaurant info:</h1>
<table>
	<tr>
	<th>Name</th>
	<th>Description</th>
	<th>Full Address</th>
	<th>Phone Number</th>
	</tr>

	<tr>
	<td><%= @restaurant.name %></td>
	<td><%= @restaurant.description %></td>
	<td><%= @restaurant.full_address %></td>
	<td><%= @restaurant.phone_number %></td>
	</tr>
	

</table>