.picture{
	border: 4px dashed white;
	padding: 20px;
	height: 300px;
	background-color: #1abc9c;
	margin: 0px;
}

.desc_cont{
	border: 4px dashed white;
	padding: 20px;
	height: 300px;
	width: 800px;
	font-style: italic;
	font-size: 20px;
	line-height: 20px;
	background-color: #1abc9c;
	margin: 0px;
}

span.accent{
	font-weight: bold;
	font-size: 24px;
}

.res_cont{
	border: 4px white dashed;
	width: 800px;
	margin: 4px;
	padding: 20px;
	font-style: italic;
	font-size: 20px;
	line-height: 20px;
	background-color: #1abc9c;

}
html, body{
	padding: 0;
	padding: 0;
}

