body{
	background-image: url();
	background-repeat: no-repeat;	
}
.picture{
	border: 4px groove white;
	padding: 20px;
	background-color: #CCE6E6;
	margin-top: -10px;
	margin-left: -12px;
	width: 700px;
	border-radius: 35px;
	box-shadow: 10px 10px 5px #888;


}

.desc_cont{

	border: 4px groove white;
	padding: 20px;
	height: 300px;
	width: 700px;
	font-style: italic;
	font-size: 20px;
	line-height: 20px;
	background-color: #CCE6E6;
	margin: 0px;
	text-align: center;
	border-radius: 35px;
	box-shadow: 10px 10px 5px #888;
}

span.accent{
	font-weight: bold;
	font-size: 24px;
}

.res_cont{
	border: 2px white groove;
	width: 700px;
	margin: 4px;
	padding: 20px;
	font-style: italic;
	font-size: 20px;
	line-height: 20px;
	background-color: #CCE6E6;
	border-radius: 35px;
	box-shadow: 10px 10px 5px #888;



}

img {
	width: 420px;
  	height: 250px;
  	text-align: center;
  	margin-left: 10px;
  	border-radius: 35px;



}
.aside{
	float:right;
	width: 220px;
	height: 680px;
	border-radius: 25px;
	border: 2px groove;
	background-color: #f5dce7;
	text-align: center;
	margin-right: 2px;
	box-shadow: 10px 10px 5px #888;
}

span.wrapper{
	float:left;
	width:200px;
	height:200px;
}
span.center{
	text-align: center;
}

img.smaller{
	height:200px;
	width:200px;
	box-shadow: 10px 10px 5px #888;
	margin: 8px;
}

ul{
	list-style: none;
	text-align: center;
	line-height: 15px;
}

li{
	padding: 5px 0;
	display: inline;
	font-size: 30px;
}
.footer{
	border: 4px;
	background-color: white;
    position: absolute;
    text-align: center;
    top: 2000px;
    right: 600px;
}
.container {
	margin-bottom: 10px;
}

span#dropbox {
	border: 2px solid black;
	background-color:#ffffe5; 
	width:205px;
	padding:20px;
	height:80px;
	display:none;
	left: 100px;
	top: 100px;
	position: absolute;
	z-index: 2px;
	border-radius: 5px 20px 5px;
}

